.hidden {
    display: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    min-height:100vh;
    display: flex;
    flex:1 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock {
    font-size: 80px;
    margin: 0;
}
#date {
    margin: 0;
    font-size: 30px;
}
